# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Spark local files
metastore_db/
derby.log
spark-warehouse/

# Databricks Asset Bundle local state
.databricks/